{% extends 'base.html' %}
{% load django_bootstrap5%}
{% block body %}

<h3 class="fw-bold text-center" style="padding-top: 50px">인생사진 포토스팟</h3>
<div class="container mt-5">
  <!-- 생성/수정 폼 -->
  <form class="photo-form mx-auto" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label w-100 m-0" for="id_photo_img">
        <p class="photo-form-label">인생사진</p>
        <div class="photo-form-img">
          <i class="fa-solid fa-image photo-form-img-text"></i>
          <p class="photo-form-img-text2">인생사진을 업로드 해주세요</p>
        </div>
      </label>
      <input style="display: none;" type="file" name="photo_img" accept="image/*" class="form-control" required="" id="id_photo_img">
    </div>
    <fieldset>
      <legend style="font-size: 16px; margin-bottom:16px;">지역</legend>
      <div class="d-flex justify-content-between" style="margin-bottom:16px;">
        <input type="radio" id="서울" name="region" value="서울" checked><label for="서울">서울</label>
        <input type="radio" id="제주" name="region" value="제주"><label for="제주">제주</label>
        <input type="radio" id="인천" name="region" value="인천"><label for="인천">인천</label>
        <input type="radio" id="부산" name="region" value="부산"><label for="부산">부산</label>
        <input type="radio" id="경상" name="region" value="경상"><label for="경상">경상</label>
        <input type="radio" id="경기" name="region" value="경기"><label for="경기">경기</label>
        <input type="radio" id="강원" name="region" value="강원"><label for="강원">강원</label>
        <input type="radio" id="전라" name="region" value="전라"><label for="전라">전라</label>
        <input type="radio" id="충청" name="region" value="충청"><label for="충청">충청</label>
      </div>
    </fieldset>
    <div class="mb-3">
      <label class="form-label" for="id_place">포토스팟</label>
      <input type="text" value="{{ photospot.place }}" name="place" placeholder="포토스팟 위치를 공유해주세요" maxlength="30" class="form-control" required="" id="id_place">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_content">이야기</label>
      <textarea name="content" cols="40" rows="10" placeholder="자유롭게 작성해 주세요(ex. 인생사진 비하인드 과정, 여행 일화, 촬영 팁 등)" class="form-control" required="" id="id_content">{{ photospot.content }}</textarea>
    </div>
    <div class="photo-form-btn">
      <a class="photo-gray-btn" href="{% url 'photospots:index' %}">취소</a>
      <button class="photo-green-btn" type="submit">작성완료</button>
    </div>
  </form>
</div>

{% endblock body %}