{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load imagekit %}
{% block body %}

<div class="mx-auto w-100">
  <div class="photo-container lg:photo-container">
    <div class="photo-box md:photo-box lg:photo-box">
      <header>
        <h1>포토스팟 인덱스</h1>
        <a href="{% url 'photospots:create' %}">create</a>
        <!-- Button trigger modal -->
      </header>
      <main class="photo-main">
        {% for photospot in photospots %}
        <div class="card photo-content">
          <div class="card-header bg-white border-bottom-0">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                {% if user.profile.image %}
                <img src="{{ photospot.user.profile.image.url }}" alt="{{ photospot.user.profile.image }}" class="rounded-circle border border-1 me-2" width="40" height="40">
                {% else %}
                <img src="" alt="없음" class="rounded-circle border border-1" width="40" height="40">
                {% endif %}
                <div class="d-flex flex-column">
                  <p class="m-0">{{ photospot.user.nickname }}</p>
                  <p class="m-0 text-primary">
                    <i class="bi bi-geo-alt-fill"></i>
                     {{ photospot.place }}
                  </p>
                </div>
              </div>
              <div class="d-flex align-items-center">
                {% if request.user.is_authenticated %}
                {% if request.user == photospot.user %}
                <a class="mx-1 text-decoration-none text-dark" href="{% url 'photospots:update' photospot.pk %}">
                  <i class="bi bi-pencil"></i>
                   수정
                </a>
                <a class="mx-1 text-decoration-none text-dark" href="{% url 'photospots:delete' photospot.pk %}">
                  <i class="bi bi-trash"></i>
                   삭제
                </a>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="m-0">{{ photospot.content }}</p>
          </div>
          <img src="{{ photospot.photo_img.url }}">
          <div class="card-footer bg-white border-top-0">
            <div class="d-flex justify-content-end">
              {% if request.user.is_authenticated %}
              <p class="m-0">
                {% if request.user in photospot.like_users.all %}
                  <i id="like-btn" data-photospot-id="{{ photospot.pk }}" class="bi bi-heart-fill" style="color:red; cursor: pointer;"></i>
                {% else %}
                  <i id="like-btn" data-photospot-id="{{ photospot.pk }}" class="bi bi-heart" style="color:red; cursor: pointer;"></i>
                {% endif %}
                <span id="like-count"> {{ photospot.like_users.count }}</span>
              </p>
              {% else %}
              <p class="m-0">
                <i class="bi bi-heart"></i>
                <span id="like-count"> {{ photospot.like_users.count }}</span>
              </p>
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
        게시글 없음
        {% endfor %}
      </main>
    </div>
    <aside class="photo-aside lg:photo-aside">
      <div>
        <div class="d-flex align-items-center mb-3">
          <h5>베스트 게시글</h5>
        </div>
      </div>
    </aside>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const likeBtn = document.querySelector('#like-btn')
  likeBtn.addEventListener('click', function (event) {
    console.log(event.target)
    axios({
      method: 'get',
      url: `/photospots/${event.target.dataset.photospotId}/like`
    })
    .then(response => {
      console.log(response)
      console.log(response.data)
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-heart-fill')
        event.target.classList.remove('bi-heart')
      }
      else {
        event.target.classList.add('bi-heart')
        event.target.classList.remove('bi-heart-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>

{% endblock body %}