{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}
{% load imagekit %}
{% block body %}

  <!-- friends(home, index), qna(index), photospots(index)-->
  <nav class="mb-3 s-nav">
    <div class="container">
      <ul class="d-flex s-list p-0">
        <li class="s-item">
          {% if request.resolver_match.namespace == 'friends' %}
            {% if request.resolver_match.url_name == 'home' %}
            <a class="s-item-link s-active" aria-current="page" href="{% url 'friends:home' %}">홈</a>
            {% else %}
            <a class="s-item-link" aria-current="page" href="{% url 'friends:home' %}">홈</a>
            {% endif %}
          {% else %}
          <a class="s-item-link" aria-current="page" href="{% url 'friends:home' %}">홈</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'friends' %}
            {% if request.resolver_match.url_name == 'index' %}
            <a class="s-item-link s-active" aria-current="page" href="{% url 'friends:index' %}">동행</a>
            {% else %}
            <a class="s-item-link" aria-current="page" href="{% url 'friends:index' %}">동행</a>
            {% endif %}
          {% else %}
          <a class="s-item-link" aria-current="page" href="{% url 'friends:index' %}">동행</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'qna' %}
          <a class="s-item-link s-active" aria-current="page" href="{% url 'qna:index' %}">Q&A</a>
          {% else %}
          <a class="s-item-link" aria-current="page" href="{% url 'qna:index' %}">Q&A</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'photospots' %}
          <a class="s-item-link s-active" aria-current="page" href="{% url 'photospots:index' %}">포토스팟</a>
          {% else %}
          <a class="s-item-link" aria-current="page" href="{% url 'photospots:index' %}">포토스팟</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

<div class="mx-auto w-100">
  <div class="photo-container lg:photo-container">
    <!-- 메인 게시글 리스트 -->
    <div class="photo-box md:photo-box lg:photo-box">
      <!-- 게시글 상단 -->
      <header class="photo-header lg:photo-header">
        <p class="photo-header2">인생사진 포토스팟</p>
      </header>
      <!-- 상단 베스트 게시글 : 화면 사이즈 lg 미만 -->
      <div class="photo-aside2 lg:photo-aside2">
        <div class="d-flex flex-column mb-5">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <p class="photo-header2 fs-6">베스트 인생사진</p>
            <a class="text-decoration-none more-view" href="{% url 'photospots:best' %}">
              전체 보기
              <i class="bi bi-chevron-right"></i>
            </a>
          </div>
          <!-- 좋아요 인기순 5개 출력 -->
          <ul class="photo-aside-content2">
            {% for best in best_p %}
            <div class="photo-aside-content3" style="cursor: pointer;" onclick="location.href='{% url 'photospots:detail' best.pk %}';">
              <div class="d-flex flex-column w-100">
                <h6 class="fw-bold">{{ best.user.nickname }} 님의 인생사진</h6>
                <p class="photo-aside-text2 gray-text">{{ best.content }}</p>
              </div>
            </div>
            {% empty %}
            <p class="text-center w-100">게시글 없음</p>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- 게시글 리스트 출력 -->
      <main class="photo-main lg:photo-main">
        {% for photospot in photospots %}
        <div class="card photo-content">
          <div class="card-header bg-white border-bottom-0">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <!-- 프로필 사진 -->
                {% if user.profile.image %}
                <img src="{{ photospot.user.profile.image.url }}" alt="{{ photospot.user.profile.image }}" class="rounded-circle border border-1 me-2" width="40" height="40">
                {% else %}
                <img src="{% static 'image/no_profile.jpg'%}" alt="" class="rounded-circle border border-1 me-2" width="40" height="40">
                {% endif %}
                <div class="d-flex flex-column">
                  <!-- 닉네임 -->
                  <p class="m-0 fw-bold">{{ photospot.user.nickname }}</p>
                  <!-- 장소 / 작성시간대 -->
                  <div class="d-flex gray-text">
                    <p class="photo-place">
                      <i class="bi bi-geo-alt-fill"></i>
                       {{ photospot.place }}
                    </p>
                    <!-- 업데이트 X -->
                    {% if photospot.is_updated == False %}
                    <p class="create_string">
                      <!-- 작성된지 7일이 지났을 경우 -->
                      {% if photospot.created_string == False %}
                      {{ photospot.created_at|date:'Y년 m월 d일 H:i' }}
                      <!-- 방금전/몇분전/몇시간전/몇일전(7일 이내) -->
                      {% else %}
                      {{ photospot.created_string }}
                      {% endif %}
                    </p>
                    <!-- 업데이트 O : 수정됨 표시 -->
                    {% else %}
                    <p class="create_string">
                      <!-- 작성된지 7일이 지났을 경우 -->
                      {% if photospot.created_string == False %}
                      {{ photospot.updated_at|date:'Y년 m월 d일 H:i' }}
                      <!-- 방금전/몇분전/몇시간전/몇일전(7일 이내) -->
                      {% else %}
                      {{ photospot.created_string }}
                      {% endif %}
                      (수정됨)
                    </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <!-- 수정 / 삭제 버튼 : 로그인 유저 = 작성 유저-->
              <div class="d-flex align-items-center">
                {% if request.user.is_authenticated %}
                {% if request.user == photospot.user %}
                <a class="me-3 text-decoration-none gray-text" href="{% url 'photospots:update' photospot.pk %}">
                  <i class="bi bi-pencil"></i>
                </a>
                <a class="text-decoration-none gray-text" href="{% url 'photospots:delete' photospot.pk %}">
                  <i class="bi bi-trash"></i>
                </a>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          <!-- 인생사진 : 누르면 디테일로 이동 -->
          <img src="{{ photospot.photo_img.url }}" style="cursor: pointer;" onclick="location.href='{% url 'photospots:detail' photospot.pk %}';">
          <!-- 카드 하단  -->
          <div class="card-footer bg-white border-top-0">
            <div class="d-flex justify-content-end gray-text">
              <!-- 조회수 -->
              <p class="m-0 me-2">
                <i class="bi bi-eye"></i>
                <span> {{ photospot.hits }}</span>
              </p>
              <!-- 좋아요수 -->
              <p class="m-0 me-2">
                <i class="bi bi-heart"></i>
                <span id="like-count"> {{ photospot.like_users.count }}</span>
              </p>
              <!-- 댓글수 -->
              <p class="m-0">
                <i class="bi bi-chat"></i>
                <span>{{ photospot.photocomment_set.count }}</span>
              </p>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="text-center w-100">게시글 없음</p>
        {% endfor %}
      </main>
    </div>
    <!-- 사이드 게시글 리스트 : 화면 사이즈 lg 이상 -->
    <aside class="photo-aside lg:photo-aside">
      <!-- 베스트 인생사진 -->
      <div>
        <div class="d-flex flex-column mb-5">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <p class="photo-header2">베스트 인생사진</p>
            <a class="text-decoration-none more-view" href="{% url 'photospots:best' %}">
              전체 보기
              <i class="bi bi-chevron-right"></i>
            </a>
          </div>
          <!-- 좋아요 인기순 5개 출력 -->
          {% for best in best_p %}
          <div class="d-flex photo-aside-content last:photo-aside-content" style="cursor: pointer;" onclick="location.href='{% url 'photospots:detail' best.pk %}';">
            <div class="d-flex flex-column w-100">
              <h6 class="fw-bold">{{ best.user.nickname }} 님의 인생사진</h6>
              <p class="photo-aside-text gray-text">{{ best.content }}</p>
            </div>
            {% thumbnail "75x75" best.photo_img as thumb %}
            <img class="border rounded-3" src="{{ thumb.url }}" alt="썸네일" width="{{ thumb.width }}" height="{{ thumb.height }}">
          </div>
          {% empty %}
          <p class="text-center w-100">게시글 없음</p>
          {% endfor %}
        </div>
      </div>
      <!-- 최근 동행찾기 -->
      <div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <p class="photo-header2">최근 동행찾기</p>
            <a class="text-decoration-none more-view" href="{% url 'friends:index' %}">
              전체 보기
              <i class="bi bi-chevron-right"></i>
            </a>
          </div>
          <!-- 최근 5개 출력 -->
          {% for lately in lately_f %}
          <div class="d-flex photo-aside-content last:photo-aside-content" style="cursor: pointer;" onclick="location.href='{% url 'friends:detail' lately.pk %}';">
            <div class="d-flex flex-column w-100">
              <h6 class="photo-aside-title fw-bold">{{ lately.title }}</h6>
              <p class="photo-aside-text gray-text">{{ lately.content }}</p>
            </div>
            {% if lately.image %}
            {% thumbnail "75x75" lately.image as thumb %}
            <img class="border rounded-3" src="{{ thumb.url }}" alt="썸네일" width="{{ thumb.width }}" height="{{ thumb.height }}">
            {% else %}
            <img class="border rounded-3" src="{% static 'image/no_image.jpg'%}" alt="썸네일" width="75" height="75">
            {% endif %}
          </div>
          {% empty %}
          <p class="text-center w-100">게시글 없음</p>
          {% endfor %}
        </div>
      </div>
    </aside>
  </div>
</div>

{% endblock body %}