{% extends 'base.html' %}{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% block title %} 여행친구 로그인 {%endblock%}
{% block body %}
<section class="container">
  <div class="box">
    <p class="boxText fw-bold">동행부터 숙소 구하기까지</p>
    <p class="boxText fw-bold">마음에 쏙 드는 여행 찾기 어려우시죠?</p>
    <div>
      <img src="{%static 'image/map.png'%}" alt="" />
    </div>
    <div>
      <p class="fw-bold" style="font-size: 1.3vw">여행친구가 찾아드릴게요</p>
    </div>
    <div class="loginBtnSection">
      <div style="padding: 10px 3vw">
        <a href="{% url 'accounts:loginNormal'%}"
          ><button class="btnYclogin fw-bord" style="background-color: rgb(233, 233, 233); color: rgb(28, 16, 0);">
            <i class="fa-solid fa-user-plus"></i> 여행친구 아이디로 로그인
          </button></a
        >
      </div>
      {% comment %} <div style="padding: 10px 3vw">
        <a href="{% url 'accounts:login' %}naver">
          <button
            class="btnYclogin text-white fw-bord"
            style="background-color: rgb(0, 206, 124);"
          >
            <i style="color: white;" class="fa-solid fa-comment"></i
            ><span
              style="font-weight: bold; color: white; padding: 5px"
              >네이버로 로그인</span
            >
          </button></a
        >
      </div> {% endcomment %}
      <div class="py-1">
        <hr />
        <div class="d-flex justify-content-center">
          <p style="color: rgba(194, 200, 204, 1)">
            아직 계정이 없으신가요?
            <a style="color: black" href="{% url 'accounts:signup' %}"
              >회원가입</a
            >
          </p>
          {% comment %} <a href="{% provider_login_url 'kakao' method='oauth2' %}">
            카카오톡 회원가입
            </a> {% endcomment %}
            {% comment %} <a id="custom-login-btn" href="javascript:loginWithKakao()">
              <img
                src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
                width="222"
                alt="카카오 로그인 버튼"
              />
            </a>
            <p id="token-result"></p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript">
  Kakao.init('0fb40841ad014cc2535c559673faeb15');
  function loginWithKakao() {
    Kakao.Auth.authorize({
      redirectUri: 'http://127.0.0.1:8000/accounts/kakao/login/callback/' 
    })
  }
  // 아래는 데모를 위한 UI 코드입니다.
  displayToken()
  function displayToken() {
    const token = getCookie('authorize-access-token')
    if(token) {
      Kakao.Auth.setAccessToken(token)
      Kakao.Auth.getStatusInfo(({ status }) => {
        if(status === 'connected') {
          document.getElementById('token-result').innerText = 'login success. token: ' + Kakao.Auth.getAccessToken()
        } else {
          Kakao.Auth.setAccessToken(null)
        }
      })
    }
  }
  function getCookie(name) {
    const value = "; " + document.cookie;
    const parts = value.split("; " + name + "=");
    if (parts.length === 2) return parts.pop().split(";").shift();
  }
</script> {% endcomment %}
{% endblock body %}
