{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="m-3">
  <div class="d-flex flex-column align-items-center">
    {% for room in room_list %}
    <div class="card mb-3 py-3 px-3 col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
      <a href="{% url 'chats:room' room.url %}" class="text-black text-decoration-none">
        <div class="row g-0">
          <div class="col-12 col-md-3">
            <div class="d-flex flex-md-column gap-3 me-3">
              {% for user in room.users.all %}
                {% if user.username.profile %}
                <div class="d-flex flex-column">
                  <img src="{{ user.profile.image.url }}" alt="{{ user.profile.image }}">
                  <p>{{ user.username }}</p>
                </div>
                {% else %}
                <div class="d-flex flex-column align-items-center">
                  <img src="{% static 'image/no_profile.jpg'%}" alt="" class="rounded-circle border border-1" width="40px">
                  <p>{{ user.username }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
          </div>
          <div class="col-12 col-md-9" >
            <div>
              <div>
                <h5 class="card-title">채팅방 이름: {{ room.name }}</h5>
                <p class="card-text">채팅방 생성 시간: {{ room.created_at }}</p>
                <p class="mb-1">가장 최근 채팅</p>
              </div>
              <div class="d-flex flex-column gap-3">
                <div class="d-flex">
                {% if room.latest_chat_user %}
                  {% if room.latest_chat_user_img %}
                  <img src="{{ room.latest_chat_user_img }}" alt="">
                  {% else %}
                  <img src="{% static 'image/no_profile.jpg'%}" alt="" class="rounded-circle border border-1 me-2" width="40px">
                  {% endif %}
                  <p>{{ room.latest_chat_user }}</p>
                  {% else %}
                  {% endif %}
                </div>
                <div>
                  <p>{{ room.latest_chat|truncatechars:50 }}</p>
                  <p><small class="text-muted">{{ room.latest_chat_time }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}