{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block body %}

  <!-- friends(home, index), qna(index), photospots(index)-->
  <nav class="mb-3 s-nav">
    <div class="container">
      <ul class="d-flex s-list p-0">
        <li class="s-item">
          {% if request.resolver_match.namespace == 'friends' %}
            {% if request.resolver_match.url_name == 'home' %}
            <a class="s-item-link s-active" aria-current="page" href="{% url 'friends:home' %}">홈</a>
            {% else %}
            <a class="s-item-link" aria-current="page" href="{% url 'friends:home' %}">홈</a>
            {% endif %}
          {% else %}
          <a class="s-item-link" aria-current="page" href="{% url 'friends:home' %}">홈</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'friends' %}
            {% if request.resolver_match.url_name == 'index' %}
            <a class="s-item-link s-active" aria-current="page" href="{% url 'friends:index' %}">동행</a>
            {% else %}
            <a class="s-item-link" aria-current="page" href="{% url 'friends:index' %}">동행</a>
            {% endif %}
          {% else %}
          <a class="s-item-link" aria-current="page" href="{% url 'friends:index' %}">동행</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'qna' %}
          <a class="s-item-link s-active" aria-current="page" href="{% url 'qna:index' %}">Q&A</a>
          {% else %}
          <a class="s-item-link" aria-current="page" href="{% url 'qna:index' %}">Q&A</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'photospots' %}
          <a class="s-item-link s-active" aria-current="page" href="{% url 'photospots:index' %}">포토스팟</a>
          {% else %}
          <a class="s-item-link" aria-current="page" href="{% url 'photospots:index' %}">포토스팟</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

<body style="background-color: #F7F9FA">
  <section class="title-banner">
    <div class='d-flex justify-content-center' style='height:300px;'>
      <img src="{% static 'image/earth.png' %}" alt="" class='w-100'
        style='height:340px; object-fit:cover; filter:brightness(0.6);'>
    </div>
    <div class="title-text d-flex justify-content-center align-items-center flex-column">
      <span style="color: white;">여행에 대한 질문을 해보세요</span>
      <p style=" color: white; font-size:50px; font-weight:700;">여행 Q&A</p>
    </div>
  </section>
  <section class="box section-center" style="height: calc(100vh - 60px);">
    <div>
      정렬 드롭다운 및 답변 대기중인 게시물만 보기 버튼 생성 영역
    </div>
    <div class="d-flex justify-content-center mt-3">
      <div class="row p-3 d-flex" style="width:1200px;">
        {% for q in qna %}
        <div class="cardbox m-2 col-lg-5" style="width: 45%;">
          <div>
            위치 영역
            {% if Qna.closed != False %}
            <span style="color:#00ce7c; font-weight:bord;">답변대기</span>

<section class="title-banner">
  <div class='d-flex justify-content-center' style='height:300px;'>
    <img src="{% static 'image/earth.png' %}" alt="" class='w-100'
      style='height:340px; object-fit:cover; filter:brightness(0.6);'>
  </div>
  <div class="title-text d-flex justify-content-center align-items-center flex-column">
    <span style="color: white;">여행에 대한 질문을 해보세요</span>
    <p style=" color: white; font-size:50px; font-weight:700;">여행 Q&A</p>
  </div>
</section>
<section class="box section-center" style="height: calc(100vh - 60px);">

  <form>
    {% csrf_token %}
    <input id="closed-btn" type="submit" value="대기중인 게시물만 보기">
    <input id="closed-btn-value" type="hidden" value="True">
  </form>

  <!-- CDN axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <script>
    const closedBtn = document.querySelector('#closed-btn')
    const closedBtnValue = document.querySelector('#closed-btn-value')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    closedBtn.addEventListener('click', (event) => {
      event.preventDefault()
      const form = new FormData()
      form.append('status', closedBtnValue.value)
      axios.post(`/qna/`, form, {
        headers: {
          'X-CSRFToken': csrftoken
        }
      })
      .then((response) => {
        <!-- 버튼 눌렀을 때 버튼 상태 바꿔주기 -->
        if (closedBtnValue.value == 'True') {
          closedBtn.value = '전체 게시물 보기'
          closedBtnValue.value = 'False'
        } else {
          closedBtn.value = '대기중인 게시물만 보기'
          closedBtnValue.value = 'True'
        }

        const qnaContainer = document.querySelector('#qna-container')
        const qna = response.data.qna
        console.log(qna)
        qnaContainer.innerHTML = ''
        qna.forEach((q) => {
          if (q.closed) {
            console.log('closed')
            qnaContainer.innerHTML += 
            `<div class="cardbox m-2 col-lg-5" style="width: 45%;">
              <div>
                위치 영역
                <span style="color:#00ce7c; font-weight:bord;">답변완료</span>
                <p class="cardTitle">${q.title}</p>
                <p class="cardTitle">${q.content}</p>
                <span>
                  <img src="{% static 'image/no_profile.jpg'%}" alt="" class="rounded-circle border border-1 me-2" width="40"
              height="40">
                </span>
                <p class="cardUsername">${q.user}</p>
                <p class="text-muted">${q.created_string}</p>
              </div>
            </div>`
          } else {
            console.log('not closed')
            qnaContainer.innerHTML += 
            `<div class="cardbox m-2 col-lg-5" style="width: 45%;">
              <div>
                위치 영역
                <span style="color:#00ce7c; font-weight:bord;">답변대기</span>
                <p class="cardTitle">${q.title}</p>
                <p class="cardTitle">${q.content}</p>
                <span>
                  <img src="{% static 'image/no_profile.jpg'%}" alt="" class="rounded-circle border border-1 me-2" width="40"
              height="40">
                </span>
                <p class="cardUsername">${q.user}</p>
                <p class="text-muted">${q.created_string}</p>
              </div>
            </div>`
          }

        })

      })
    })
  </script>

  <div>
    정렬 드롭다운 및 답변 대기중인 게시물만 보기 버튼 생성 영역
  </div>
  <div class="d-flex justify-content-center mt-3">
    <div id="qna-container" class="row p-3 d-flex" style="width:1200px;">
      {% for q in qna %}
      <div class="cardbox m-2 col-lg-5" style="width: 45%;">
        <div>
          위치 영역
          {% if Qna.closed != False %}
          <span style="color:#00ce7c; font-weight:bord;">답변대기</span>
          {% else %}
          답변완료
          {% endif %}
          <p class="cardTitle">{{q.title}}</p>
          <p class="cardTitle">{{q.content}}</p>
          <span>
            {% if user.profile.image %}
            <img src="{{ qna.user.profile.image.url }}" alt="{{ qna.user.profile.image }}"
              class="rounded-circle border border-1" width="40" height="40">
            {% else %}
            <img src="{% static 'image/no_profile.jpg'%}" alt="" class="rounded-circle border border-1 me-2" width="40"
              height="40">
            {% endif %}
          </span>
          <p class="cardUsername">{{q.user}}</p>
          <p class="text-muted">{{q.created_string}}</p>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}