{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block body %}

<!-- friends(home, index), qna(index), photospots(index)-->
<nav class="mb-3 s-nav">
  <div class="container">
    <ul class="d-flex s-list p-0">
      <li class="s-item">
        {% if request.resolver_match.namespace == 'friends' %}
        {% if request.resolver_match.url_name == 'home' %}
        <a class="s-item-link s-active" aria-current="page" href="{% url 'friends:home' %}">홈</a>
        {% else %}
        <a class="s-item-link" aria-current="page" href="{% url 'friends:home' %}">홈</a>
        {% endif %}
        {% else %}
        <a class="s-item-link" aria-current="page" href="{% url 'friends:home' %}">홈</a>
        {% endif %}
      </li>
      <li class="s-item">
        {% if request.resolver_match.namespace == 'friends' %}
        {% if request.resolver_match.url_name == 'index' %}
        <a class="s-item-link s-active" aria-current="page" href="{% url 'friends:index' %}">동행</a>
        {% else %}
        <a class="s-item-link" aria-current="page" href="{% url 'friends:index' %}">동행</a>
        {% endif %}
        {% else %}
        <a class="s-item-link" aria-current="page" href="{% url 'friends:index' %}">동행</a>
        {% endif %}
      </li>
      <li class="s-item">
        {% if request.resolver_match.namespace == 'qna' %}
        <a class="s-item-link s-active" aria-current="page" href="{% url 'qna:index' %}">Q&A</a>
        {% else %}
        <a class="s-item-link" aria-current="page" href="{% url 'qna:index' %}">Q&A</a>
        {% endif %}
      </li>
      <li class="s-item">
        {% if request.resolver_match.namespace == 'photospots' %}
        <a class="s-item-link s-active" aria-current="page" href="{% url 'photospots:index' %}">포토스팟</a>
        {% else %}
        <a class="s-item-link" aria-current="page" href="{% url 'photospots:index' %}">포토스팟</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>

<body style="background-color: white">
  <section class="back">
    <div class="title-text">
      <p class="title-text1" style="color: white;">여행에 대한 질문을 해보세요</p>
      <p class="title-text2" style=" color: white; font-size:50px; font-weight:700;">여행 Q&A</d>
    </div>
  </section>
  <section class="container">
    <form class="qnaMenu">
      {% csrf_token %}
      <input class="btnwait" id="closed-btn" type="submit" value="답변을 기다리는 QnA만 보기">
      <input id="closed-btn-value" type="hidden" value="True">
    </form>

    <!-- CDN axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      const closedBtn = document.querySelector(' #closed-btn')
      const closedBtnValue = document.querySelector('#closed-btn-value')
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; closedBtn.addEventListener('click',
        (event) => {
          event.preventDefault()
          const form = new FormData()
          form.append('status', closedBtnValue.value)
          axios.post(`/qna/`, form, {
            headers: {
              'X-CSRFToken': csrftoken
            }
          })
            .then((response) => {
              <!-- 버튼 눌렀을 때 버튼 상태 바꿔주기 -->
              if (closedBtnValue.value == 'True') {
                closedBtn.value = '전체 QnA 보기'
                closedBtnValue.value = 'False'
              } else {
                closedBtn.value = '답변을 기다리는 QnA만 보기'
                closedBtnValue.value = 'True'
              }

              const qnaContainer = document.querySelector('#qna-container')
              const qna = response.data.qna
              console.log(qna)
              qnaContainer.innerHTML = ''
              qna.forEach((q) => {
                if (q.closed) {
                  console.log('closed')
                  qnaContainer.innerHTML +=
                    `
        <a style="text-decoration:none;" href="">
          <div class="cardbox">
            <div class="qnaCard d-flex justify-content-between">
              <div class=""><i class="loIn fa-solid fa-location-dot"></i><span class="cardLocal px-1">지역이름</span></div>
              <span class="waitText" font-weight:bord;">채택완료</span>
            </div>
            <div class="qCtit">${q.title}</div>
            <div class="qCsub">${q.content}</div>
            <div class="qTag">
              태그자리
            </div>
            <!-- 마지막줄 -->
            <div class="exinfo">
              <div class="imNha">
                {% if user.profile.image %}
                <img src="${q.user.image.url}" alt="${q.user.image.url}"
                  class="proIm rounded-circle border border-1" width="24" height="24">
                {% else %}
                <img src="{% static 'image/no_profile.jpg'%}" alt="" class="proIm rounded-circle border border-1 me-2">
                {% endif %}
                <div class="proN">
                  ${q.user}
                </div>
                <span style="color:rgb(154, 154, 154);">
                  |
                </span>
                <div class="qnaIBox">
                  <i class="fa-regular fa-eye"></i>&nbsp;${q.hits | length}
                  <i style="margin-left: 6px;" class="fa-regular fa-comment-dots"></i>&nbsp;{{qna.answer|length}}
                </div>
                <!-- <p class="text-muted">{{q.created_string}}</p> -->
              </div>
            </div>
          </div>
        </a>
                    `
                } else {
                  console.log('not closed')
                  qnaContainer.innerHTML +=
                    `
        <a style="text-decoration:none;" href="">
          <div class="cardbox">
            <div class="qnaCard d-flex justify-content-between">
              <div class=""><i class="loIn fa-solid fa-location-dot"></i><span class="cardLocal px-1">지역이름</span></div>
              <span style="color:#00ce7c; font-weight:bord;">답변대기</span>
            </div>
            <div class="qCtit">${q.title}</div>
            <div class="qCsub">${q.content}</div>
            <div class="qTag">
              태그자리
            </div>
            <!-- 마지막줄 -->
            <div class="exinfo">
              <div class="imNha">
                {% if user.profile.image %}
                <img src="${q.user.image.url}" alt="${q.user.image.url}"
                  class="proIm rounded-circle border border-1" width="24" height="24">
                {% else %}
                <img src="{% static 'image/no_profile.jpg'%}" alt="" class="proIm rounded-circle border border-1 me-2">
                {% endif %}
                <div class="proN">
                  ${q.user}
                </div>
                <span style="color:rgb(154, 154, 154);">
                  |
                </span>
                <div class="qnaIBox">
                  <i class="fa-regular fa-eye"></i>&nbsp;${q.hits | length}
                  <i style="margin-left: 6px;" class="fa-regular fa-comment-dots"></i>&nbsp;{{qna.answer|length}}
                </div>
                <!-- <p class="text-muted">{{q.created_string}}</p> -->
              </div>
            </div>
          </div>
        </a>
        `
                }

              })

            })
        })
    </script>
    <div class="d-flex justify-content-center mt-3">
      <div id="qna-container" class="row row-cols-1 row-cols-md-2 g-3" style="width:1200px;">
        {% for q in qna %}
        <a style="text-decoration:none;" href="{% url 'qna:detail' q.pk %}">
          <div class="">
            <div class="cardbox">
              <div class="qnaCard d-flex justify-content-between">
                <div class=""><i class="loIn fa-solid fa-location-dot" style="width: 12px; height: 9px;"></i><span
                    class="cardLocal px-1">지역이름</span>
                </div>
                {% if q.closed == False %}
                <span style="color:#00ce7c; font-weight:bord;">답변대기</span>
                {% else %}
                <span class="waitText" font-weight:bord;">채택완료</span>
                {% endif %}
              </div>
              <div class="qCtit">{{q.title}}</div>
              <div class="qCsub">{{q.content}}</div>
              <div class="qTag">
                태그자리
              </div>
              <!-- 마지막줄 -->
              <div class="exinfo">
                <div class="imNha">
                  {% if user.profile.image %}
                  <img src="{{ qna.user.profile.image.url }}" alt="{{ qna.user.profile.image }}"
                    class="proIm rounded-circle border border-1" width="24" height="24">
                  {% else %}
                  <img src="{% static 'image/no_profile.jpg'%}" alt=""
                    class="proIm rounded-circle border border-1 me-2">
                  {% endif %}
                  <div class="proN">
                    {{q.user}}
                  </div>
                  <span style="color:rgb(154, 154, 154);">
                    |
                  </span>
                  <div class="qnaIBox">
                    <i class="fa-regular fa-eye"></i>&nbsp;{{qna.hits|length}}
                    <i style="margin-left: 6px;" class="fa-regular fa-comment-dots"></i>&nbsp;{{qna.answer|length}}
                  </div>
                  <!-- <p class="text-muted">{{q.created_string}}</p> -->
                </div>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
{% endblock %}