<div class="cardbox2">
  <div class="qnaCard d-flex justify-content-between">
    <div class=""><i class="loIn fa-solid fa-location-dot"></i><span class="cardLocal px-1">지역이름</span></div>
    <span class="waitText" font-weight:bord;">채택완료</span>
  </div>
  <div class="qCtit">{{q.title}}</div>
  <div class="qCsub">{{q.content}}</div>
  <div class="qTag">
    태그자리
  </div>
  <!-- 마지막줄 -->
  <div class="exinfo">
    <div class="imNha">
      {% if user.profile.image %}
      <img src="{{ qna.user.profile.image.url }}" alt="{{ qna.user.profile.image }}"
        class="proIm rounded-circle border border-1" width="24" height="24">
      {% else %}
      <img src="{% static 'image/no_profile.jpg'%}" alt="" class="proIm rounded-circle border border-1 me-2">
      {% endif %}
      <div class="proN">
        {{q.user}}
      </div>
      <span style="color:rgb(154, 154, 154);">
        |
      </span>
      <div class="qnaIBox">
        <i class="fa-regular fa-eye"></i>&nbsp;{{qna.hits|length}}
        <i style="margin-left: 6px;" class="fa-regular fa-comment-dots"></i>&nbsp;{{qna.answer|length}}
      </div>
    </div>
  </div>
</div>
</div>