{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="d-flex gap-3 my-3">
    <img src="{{ hotel.image }}" class="img-fluid rounded" alt="{{ hotel.name }}" style="width: 500px; height: 100%;">
    <div>
      <div id="map" class="rounded" style="width: 500px; height: 100%;"></div>
      <p id="hotel-address" class="d-none">{{ hotel.address }}</p>
    </div>
  </div>
  <div class="ms-1">
    <h5 class="fw-bold my-1">{{ hotel.name }}</h5>
    <div class="my-1">
      <i class="bi bi-star-fill text-danger"></i>
      <b>{{ hotel.rating }}</b>
    </div>
    <b class="text-danger my-1 fs-5">{{ hotel.price }}~</b>
  </div>
</div>

<!-- kakao map -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8148ff6f51862625ec940e0d841516dd&libraries=services"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
  mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 3 // 지도의 확대 레벨
  };  

  // 지도를 생성합니다    
  var map = new kakao.maps.Map(mapContainer, mapOption); 

  // 주소-좌표 변환 객체를 생성합니다
  var geocoder = new kakao.maps.services.Geocoder();

  // 주소로 좌표를 검색합니다
  const hotelAddress = document.querySelector('#hotel-address')
  geocoder.addressSearch(hotelAddress, function(result, status) {

    // 정상적으로 검색이 완료됐으면 
    if (status === kakao.maps.services.Status.OK) {

      var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

      // 결과값으로 받은 위치를 마커로 표시합니다
      var marker = new kakao.maps.Marker({
        map: map,
        position: coords
      });

      // 인포윈도우로 장소에 대한 설명을 표시합니다
      var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
      });
      infowindow.open(map, marker);

      // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
      map.setCenter(coords);
    } 
  }); 
</script>

{% endblock body %}