{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
<h3 class="fw-bold text-center" style="padding-top: 50px">{{ hotel.name }} 리뷰 작성</h3>
<div class="container mt-5">
  <form class="hotel-form mx-auto" method="POST" style="width: 720px;">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="photo-form-btn">
      <a class="photo-gray-btn" href="{% url 'hotels:index' %}">취소</a>
      <button class="photo-green-btn" type="submit">작성완료</button>
    </div>
  </form>
</div>
{% endblock body %}