{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<!-- 지역 메뉴 -->
<div class="d-flex flex-column">
  <div class="btn-group" role="group" aria-label="Vertical button group">
    {% csrf_token %}
    {% for region in regions %}
    <input id="region-btn" type="button" class="btn btn-light" value="{{ region.name }}">
    {% endfor %}
  </div>
  <div id="detail-region-group" class="btn-group" role="group" aria-label="Vertical button group">
  </div>
</div>

<!-- 호텔 목록 -->
<div id="hotels-group" class="d-flex gap-3">
</div>

<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
  <!-- 이전페이지 -->
  {% if hotels_list.has_previous %}
  <li class="page-item">
      <a class="page-link" data-page="{{ hotels_list.previous_page_number }}"
         href="javascript:void(0)">이전</a>
  </li>
  {% else %}
  <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true"
         href="javascript:void(0)">이전</a>
  </li>
  {% endif %}
  <!-- 페이지리스트 -->
  {% for page_number in hotels_list.paginator.page_range %}
  {% if page_number >= hotels_list.number|add:-5 and page_number <= hotels_list.number|add:5 %}
  {% if page_number == hotels_list.number %}
  <li class="page-item active" aria-current="page">
      <a class="page-link" data-page="{{ page_number }}"
         href="javascript:void(0)">{{ page_number }}</a>
  </li>
  {% else %}
  <li class="page-item">
      <a class="page-link" data-page="{{ page_number }}"
         href="javascript:void(0)">{{ page_number }}</a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
  <!-- 다음페이지 -->
  {% if hotels_list.has_next %}
  <li class="page-item">
      <a class="page-link" data-page="{{ hotels_list.next_page_number }}"
         href="javascript:void(0)">다음</a>
  </li>
  {% else %}
  <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true"
         href="javascript:void(0)">다음</a>
  </li>
  {% endif %}
</ul> 
<!-- 페이징처리 끝 -->

<script>
  const page_elements = document.getElementsByClassName("page-link");
  Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
</script>

{% comment %} <script>
  const page_elements = document.getElementsByClassName("page-link");
  Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        event.preventDefault()
  
        const region = regionBtn.value
    
        const form = new FormData()
        form.append('region', region)
        form.append('page', this.dataset.page)
    
        axios.post('/hotels/test2/', form, {
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
        .then((response) => {
          console.log(response.data.hotel_names)
          console.log(response.data.detail_region_list)
          const detailRegionList = response.data.detail_region_list
          const detailRegionGroup = document.querySelector('#detail-region-group')
          <!-- 세부 지역 메뉴 보여주기 -->
          detailRegionList.forEach((detailRegion) => {
            console.log(detailRegion)
            detailRegionGroup.innerHTML = ''
            detailRegionGroup.innerHTML += '<input id="region-btn" type="button" class="btn btn-light" value="' + detailRegion.name + '">'
            console.log(detailRegionGroup.innerHTML)
          })
          <!-- 호텔 목록 보여주기 -->
          const hotelsGroup = document.querySelector('#hotels-group')
          const hotels = response.data.hotels
          hotels.forEach((hotel) => {
            hotelsGroup.innerHTML += `<div>
            <a href="" class="text-decoration-none text-dark">
            <img src="` + hotel.image + `" class="img-fluid rounded my-3" alt="{{ hotel.name }}">
            <div class="ms-1">
            <h5 class="fw-bold my-1">` + hotel.name + `</h5>
            <div class="my-1">
            <i class="bi bi-star-fill text-danger"></i>
            <b>` + hotel.rating + `</b>
            </div>
            <b class="text-danger my-1 fs-5">` + hotel.price + `~</b>
            </div>
            </a>
            </div>`
          
            console.log(hotelsGroup.innerHTML)
            console.log(hotel.name)
          })
          
          console.log(response.data.hotels[0].name)
          
        })
    });
  });
</script>  {% endcomment %}

<!-- CDN axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const regionBtns = document.querySelectorAll('#region-btn')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  regionBtns.forEach((regionBtn) => {
    regionBtn.addEventListener('click', function (event) {
      event.preventDefault()
  
      const region = regionBtn.value
  
      const form = new FormData()
      form.append('region', region)
      form.append('page', '1')
  
      axios.post('/hotels/test2/', form, {
        headers: {
          'X-CSRFToken': csrftoken
        }
      })
      .then((response) => {
        console.log(response.data.hotel_names)
        console.log(response.data.detail_region_list)
        const detailRegionList = response.data.detail_region_list
        const detailRegionGroup = document.querySelector('#detail-region-group')
        <!-- 세부 지역 메뉴 보여주기 -->
        detailRegionList.forEach((detailRegion) => {
          console.log(detailRegion)
          detailRegionGroup.innerHTML = ''
          detailRegionGroup.innerHTML += '<input id="region-btn" type="button" class="btn btn-light" value="' + detailRegion.name + '">'
          console.log(detailRegionGroup.innerHTML)
        })
        <!-- 호텔 목록 보여주기 -->
        const hotelsGroup = document.querySelector('#hotels-group')
        const hotels = response.data.hotels
        hotels.forEach((hotel) => {
          hotelsGroup.innerHTML += `<div>
          <a href="" class="text-decoration-none text-dark">
          <img src="` + hotel.image + `" class="img-fluid rounded my-3" alt="{{ hotel.name }}">
          <div class="ms-1">
          <h5 class="fw-bold my-1">` + hotel.name + `</h5>
          <div class="my-1">
          <i class="bi bi-star-fill text-danger"></i>
          <b>` + hotel.rating + `</b>
          </div>
          <b class="text-danger my-1 fs-5">` + hotel.price + `~</b>
          </div>
          </a>
          </div>`
        
          console.log(hotelsGroup.innerHTML)
          console.log(hotel.name)
        })
        
        console.log(response.data.hotels[0].name)
         
      })
    })
  })
</script>
{% endblock body %}