{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}

  <h3 class="fw-bold text-center" style="padding-top: 50px">동행친구 찾기</h3>
  <div class="container mt-5">
    <form class="photo-form mx-auto" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form friend_form %}
      <div class="photo-form-btn">
        <a class="photo-gray-btn" href="{% url 'photospots:index' %}">취소</a>
        <button class="photo-green-btn" type="submit">작성완료</button>
      </div>
    </form>
  </div>

{% endblock %}