{% extends 'base.html' %}
{% load static %}
{% load imagekit %}
{% block body %}

  {% comment %} <form method="GET" action="{% url 'friends:index' %}">
    <input type="checkbox" name="test" class="btn-check" id="btn-check-outlined" value="Ongoing" autocomplete="off">
    <label class="btn btn-outline-primary" for="btn-check-outlined">모집된글만 보기</label><br>
    <button class="btn btn-primary" type="submit" value="">정렬</button>
  </form>

  <form method="GET" action="{% url 'friends:index' %}">
    <div class="col-4">
      <select name="sort" id="sort">
        <option value="All" id="All">전체보기</option>
        <option value="Ongoing" id="Ongoing">모집중인 사람들</option>
        <option value="End" id="End">모집끝난 사람들</option>

      </select>
      <button class="btn btn-primary" type="submit" value="">정렬</button>
    </div>
  </form>

  <form action="">
    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked="checked">
    <label class="btn btn-outline-success" for="success-outlined">Checked success radio</label>

    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
    <label class="btn btn-outline-danger" for="danger-outlined">Danger radio</label>

    <input type="radio" class="btn-check" name="options-outlined" id="notdanger-outlined" autocomplete="off">
    <label class="btn btn-outline-danger" for="notdanger-outlined">몰루</label>
  </form>

  <form action="{% url 'friends:index_closed' %}" method='post'>
    {% csrf_token %}
    {% if status == 'True' %}
      <input type="submit" value="전체 게시글 보기">
    {% else %}
      <input type="submit" value="모집중인 게시물만 보기">
    {% endif %}
  </form> {% endcomment %}

  

  <!-- friends(home, index), qna(index), photospots(index)-->
  <nav class="mb-3 s-nav">
    <div class="container">
      <ul class="d-flex s-list p-0">
        <li class="s-item">
          {% if request.resolver_match.namespace == 'friends' %}
            {% if request.resolver_match.url_name == 'home' %}
              <a class="s-item-link s-active" aria-current="page" href="{% url 'friends:home' %}">홈</a>
            {% else %}
              <a class="s-item-link" aria-current="page" href="{% url 'friends:home' %}">홈</a>
            {% endif %}
          {% else %}
            <a class="s-item-link" aria-current="page" href="{% url 'friends:home' %}">홈</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'friends' %}
            {% if request.resolver_match.url_name == 'index' %}
              <a class="s-item-link s-active" aria-current="page" href="{% url 'friends:index' %}">동행</a>
            {% else %}
              <a class="s-item-link" aria-current="page" href="{% url 'friends:index' %}">동행</a>
            {% endif %}
          {% else %}
            <a class="s-item-link" aria-current="page" href="{% url 'friends:index' %}">동행</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'qna' %}
            <a class="s-item-link s-active" aria-current="page" href="{% url 'qna:index' %}">Q&A</a>
          {% else %}
            <a class="s-item-link" aria-current="page" href="{% url 'qna:index' %}">Q&A</a>
          {% endif %}
        </li>
        <li class="s-item">
          {% if request.resolver_match.namespace == 'photospots' %}
            <a class="s-item-link s-active" aria-current="page" href="{% url 'photospots:index' %}">포토스팟</a>
          {% else %}
            <a class="s-item-link" aria-current="page" href="{% url 'photospots:index' %}">포토스팟</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <!-- 모집 중인 글만 보기 -->
    <div class="qnaMenu">
      <a class="btnwait view-btn" href="{% url 'friends:index2'%}">모집중인 글만 보기</a>
    </div>
    <div class="d-flex row mb-5">
      {% for friend in friends %}
      <div class="col-12 col-sm-6 col-lg-3 d-flex flex-column justify-content-between" style="cursor: pointer;" onclick="location.href='{% url 'friends:detail' friend.pk %}';">
        <div class="home-box my-3 rounded-3">
          <div class="home-plus rounded-pill">
            <div class="me-2" style="width: 21px; height: 21px; background-color: rgb(248, 248, 248); border-radius: 11px; display: inline-flex; align-items: center; justify-content: center;">
              <svg width="9" height="13" viewbox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.03748 12.4779C0.633075 7.35238 0.000785276 6.82628 0.000785276 4.942C-0.0217027 3.72595 0.439589 2.55072 1.28327 1.67465C2.12694 0.798575 3.28396 0.293348 4.5 0.27002C5.71604 0.293348 6.87306 0.798575 7.71673 1.67465C8.56041 2.55072 9.0217 3.72595 8.99922 4.942C8.99922 6.82568 8.36693 7.35178 4.96252 12.4779C4.91259 12.5551 4.8441 12.6187 4.76331 12.6627C4.68251 12.7066 4.59199 12.7297 4.5 12.7297C4.40801 12.7297 4.31749 12.7066 4.23669 12.6627C4.1559 12.6187 4.08741 12.5551 4.03748 12.4779ZM4.5 6.88926C5.00667 6.87949 5.48873 6.66896 5.84025 6.30394C6.19177 5.93893 6.38399 5.44928 6.37467 4.9426C6.38415 4.43583 6.192 3.94603 5.84046 3.58088C5.48892 3.21573 5.00677 3.00512 4.5 2.99534C3.99333 3.00512 3.51127 3.21564 3.15975 3.58066C2.80823 3.94568 2.61601 4.43533 2.62533 4.942C2.61585 5.44878 2.808 5.93858 3.15954 6.30373C3.51108 6.66888 3.99323 6.87949 4.5 6.88926Z" fill="#6A6A64"></path>
              </svg>
            </div>
            <p class="m-0">{{ friend.place }}</p>
            <p id="home-friend-date" class="m-0 ms-2">{{friend.start_at|date:"m/d"}}~{{friend.end_at|date:"m/d"}}</p>
          </div>
          {% if friend.image %}
            {% thumbnail "600x600" friend.image as thumb %}
            <img src="{{ thumb.url }}" alt="썸네일" class="img-fluid rounded-3 home-img">
          {% else %}
            <img src="{% static 'image/no_image.jpg'%}" class="img-fluid rounded-3 home-img" alt="">
          {% endif %}
        </div>
        <div class="">
          <p class="fs-5 fw-bold mb-1 home-title2">
            {% if friend.closed == False %}
            <span class="green-text me-1">
              모집중
            </span>
            {% else %}
            <span class="me-1" style="color: rgb(106, 106, 106);">
              모집완료
            </span>
            {% endif %}
            {{ friend.title }}
          </p>
          <p class="my-1 home-text">{{ friend.content }}</p>
          <div class="d-flex justify-content-between my-1">
            <div class="d-flex align-items-center">
              {% if friend.user.profile.image %}
              <img src="{{ friend.user.profile.image.url }}" alt="{{ friend.user.profile.image }}" class="rounded-circle border border-1 me-2" height="24px" width="24px">
              {% else %}
              <img src="{% static 'image/no_profile.jpg'%}" alt="" class="rounded-circle border border-1 me-2" width="24" height="24">
              {% endif %}
              <p class="m-0 gray-text">{{ friend.user.nickname }}</p>
            </div>
            <div class="d-flex align-items-center gray-text">
              <p class="m-0 me-2"><i class="bi bi-eye"></i> {{ friend.hits }}</p>
              <p class="m-0"><i class="bi bi-chat"></i> {{ friend.friend_comment_set.count }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock body %}